In [1]:
##Final Merging

In [2]:
import pandas as pd
import numpy as np

In [3]:
## concating both died and lived cirrhosis datasets
csv_files = [('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Partitioned_Datasets/Cleaned_Parts/cirr0.csv'),('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Partitioned_Datasets/Cleaned_Parts/cirr1.csv')]
df_concat = pd.concat([pd.read_csv(f) for f in csv_files ], ignore_index=True)

In [4]:
df_concat

,AGE,GENDER,ALBUMIN,BILIRUBIN,ALK_PHOSPHATE,SGOT,ASCITES,SPIDERS,PROTHROMBIN,HEPATOMEGALY,PALTELETS,STATUS,CLASS,ALPHA-FETOPROTEIN,FERRITIN,HEMOGLOBIN,PROTINE,VARICES
0,56,1,4.14,1.1,7394.8,113.52,0,1.0,10.6,1.0,221.0,0,1.0,9.4,206.0,13.7,7.1,1.0
1,38,1,3.53,3.4,671.0,113.15,0,1.0,10.9,1.0,136.0,0,1.0,9.4,206.0,13.7,7.1,1.0
2,55,1,4.09,1.0,824.0,60.45,0,0.0,9.7,1.0,204.0,0,1.0,9.4,206.0,13.7,7.1,1.0
3,45,1,3.85,0.7,1181.0,88.35,0,0.0,10.6,0.0,244.0,0,1.0,9.4,206.0,13.7,7.1,1.0
4,40,1,3.66,0.7,685.0,72.85,0,0.0,10.8,0.0,198.0,0,1.0,9.4,206.0,13.7,7.1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,51,1,2.58,14.0,1259.0,114.70,0,0.0,11.6,1.0,190.0,1,1.0,397.1,452.0,12.1,7.0,1.0
414,52,1,2.96,0.7,1259.0,114.70,0,0.0,9.9,1.0,319.0,1,1.0,397.1,452.0,12.1,7.0,1.0
415,69,1,3.19,4.2,1259.0,114.70,0,0.0,11.1,1.0,120.0,1,1.0,397.1,452.0,12.1,7.0,1.0
416,46,1,2.68,4.5,1259.0,114.70,0,0.0,11.5,1.0,219.0,1,1.0,397.1,452.0,12.1,7.0,1.0
417,67,1,2.96,1.2,1259.0,114.70,0,0.0,10.9,1.0,174.0,1,1.0,397.1,452.0,12.1,7.0,1.0

In [5]:
## concating the hepatitis datasets
csv_files = [('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Partitioned_Datasets/Cleaned_Parts/hepa0.csv'),('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Partitioned_Datasets/Cleaned_Parts/hepa1.csv')]
df_concat1 = pd.concat([pd.read_csv(f) for f in csv_files ], ignore_index=True)

In [6]:
df_concat1

,AGE,GENDER,ALBUMIN,BILIRUBIN,ALK_PHOSPHATE,SGOT,ASCITES,SPIDERS,HEPATOMEGALY,PROTINE,MALAISE,VARICES,STATUS,CLASS,ALPHA-FETOPROTEIN,FERRITIN,HEMOGLOBIN,PALTELETS
0,30,0,4.0,1.0,85.0,18.0,0,0.0,0.0,61.0,0.0,0,0,2.0,22.0,108.0,14.45,81000.0
1,50,1,3.5,0.9,135.0,42.0,0,0.0,0.0,61.0,0.0,0,0,2.0,22.0,108.0,14.45,81000.0
2,78,1,4.0,0.7,96.0,32.0,0,0.0,1.0,61.0,0.0,0,0,2.0,22.0,108.0,14.45,81000.0
3,31,1,4.0,0.7,46.0,52.0,0,0.0,1.0,80.0,0.0,0,0,2.0,22.0,108.0,14.45,81000.0
4,34,1,4.0,1.0,85.0,200.0,0,0.0,1.0,61.0,0.0,0,0,2.0,22.0,108.0,14.45,81000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,45,1,2.4,1.9,85.0,114.0,1,1.0,1.0,61.0,1.0,0,1,2.0,744.7,579.0,12.10,118000.0
151,41,1,3.4,4.2,65.0,120.0,0,1.0,1.0,61.0,0.0,1,1,2.0,744.7,579.0,12.10,118000.0
152,70,1,2.8,1.7,109.0,528.0,0,0.0,1.0,35.0,1.0,0,1,2.0,744.7,579.0,12.10,118000.0
153,46,1,3.3,7.6,85.0,242.0,1,1.0,1.0,50.0,1.0,1,1,2.0,744.7,579.0,12.10,118000.0
154,43,1,3.1,1.2,100.0,19.0,1,1.0,1.0,42.0,0.0,0,1,2.0,744.7,579.0,12.10,118000.0

In [7]:
df_concat.to_csv('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Merged_Part2/cirrFull.csv',index = False)
df_concat1.to_csv('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Merged_Part2/hepaFull.csv',index = False)

In [8]:
## Merging all three databases
## hcc data is taken from clened part 2

In [9]:
csv_files = [('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Merged_Part2/cirrFull.csv'),('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Merged_Part2/hepaFull.csv'),('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Cleaned_Part2/hccF.csv')]
full = pd.concat([pd.read_csv(f) for f in csv_files ], ignore_index=True)

In [10]:
full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 777 entries, 0 to 776
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AGE                777 non-null    int64
 1   GENDER             777 non-null    int64
 2   ALBUMIN            777 non-null    float64
 3   BILIRUBIN          777 non-null    float64
 4   ALK_PHOSPHATE      777 non-null    float64
 5   SGOT               777 non-null    float64
 6   ASCITES            777 non-null    int64
 7   SPIDERS            573 non-null    float64
 8   PROTHROMBIN        418 non-null    float64
 9   HEPATOMEGALY       573 non-null    float64
 10  PALTELETS          777 non-null    float64
 11  STATUS             777 non-null    int64
 12  CLASS              777 non-null    float64
 13  ALPHA-FETOPROTEIN  777 non-null    float64
 14  FERRITIN           777 non-null    float64
 15  HEMOGLOBIN         777 non-null    float64
 16  PROTINE            777 non-null    float64
 17  VARICES            777 non-null    float64
 18  MALAISE            155 non-null    float64
dtypes: float64(15), int64(4)
memory usage: 115.5 KB

In [11]:
full.select_dtypes(include=(['int64', 'float64'])).isna().sum()
df_num_col = full.select_dtypes(include=(['int64', 'float64'])).columns
for c in df_num_col:
    full[c].fillna(full[c].median(), inplace=True)

full.select_dtypes(include=(['int64', 'float64'])).isna().sum()

AGE                  0
GENDER               0
ALBUMIN              0
BILIRUBIN            0
ALK_PHOSPHATE        0
SGOT                 0
ASCITES              0
SPIDERS              0
PROTHROMBIN          0
HEPATOMEGALY         0
PALTELETS            0
STATUS               0
CLASS                0
ALPHA-FETOPROTEIN    0
FERRITIN             0
HEMOGLOBIN           0
PROTINE              0
VARICES              0
MALAISE              0
dtype: int64

In [12]:
full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 777 entries, 0 to 776
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AGE                777 non-null    int64
 1   GENDER             777 non-null    int64
 2   ALBUMIN            777 non-null    float64
 3   BILIRUBIN          777 non-null    float64
 4   ALK_PHOSPHATE      777 non-null    float64
 5   SGOT               777 non-null    float64
 6   ASCITES            777 non-null    int64
 7   SPIDERS            777 non-null    float64
 8   PROTHROMBIN        777 non-null    float64
 9   HEPATOMEGALY       777 non-null    float64
 10  PALTELETS          777 non-null    float64
 11  STATUS             777 non-null    int64
 12  CLASS              777 non-null    float64
 13  ALPHA-FETOPROTEIN  777 non-null    float64
 14  FERRITIN           777 non-null    float64
 15  HEMOGLOBIN         777 non-null    float64
 16  PROTINE            777 non-null    float64
 17  VARICES            777 non-null    float64
 18  MALAISE            777 non-null    float64
dtypes: float64(15), int64(4)
memory usage: 115.5 KB

In [13]:
full.to_csv('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Final_Databases/FULL_MERGED_CLEAN.csv',index = False)